S3method(subset, phylo)
S3method(print, ecophylo)

export(abundance)
export(`abundance<-`)
export(minTL)
export(`minTL<-`)

export(caterpillar)
export(doByCommunity)
export(ecoPD)
export(ecophylo)
export(commPD)
export(genera)
export(getMinTL)
export(pd)
export(print.ecophylo)
export(richness)
export(siteBySpecies)
export(subset.phylo)
export(tipLengths)
export(weightByAbund)

export(Families)
export(LookupTL)
export(Supertree)
