export(abundance)
export(`abundance<-`)
export(minTL)
export(`minTL<-`)

export(caterpillar)
export(commPD)
export(genera)
export(getMinTL)
export(pd)
export(richness)
export(simp.phy)
export(siteBySpecies)
export(weightByAbund)

export(Families)
export(LookupTL)
export(Supertree)

export(phylo4com)
export(pd)
export(ancestralEdgeLength)
export(nodes)
export(PAE)
export(IAC)
export(ED)
export(EED)
export(HED)
export(AED)
export(EAED)
export(HAED)
export(value)

#importMethodsFrom(phylobase, subset)
