#----------------------------------------------------------------------

#importMethodsFrom(phylobase, subset)
#importMethodsFrom(phylobase, labels)
import(phylobase)

#----------------------------------------------------------------------

exportClasses(phylo4com)

#----------------------------------------------------------------------

# constructor methods
exportMethods(phylo4com)

# metric methods
exportMethods(pd, pae, iac, ed, eed, hed, aed, eaed, haed, value)
exportMethods(shannon, simpson)

#----------------------------------------------------------------------

# phylogeny helper functions
export(tipLength)
export(pairdist)

# community helper functions
export(abundance, "abundance<-")
export(presence)
export(communities)
export(genera)
export(richness)
export(siteBySpecies)

# pd-related functions
export(minTL)
export(`minTL<-`)

# miscellaneous
export(caterpillar)

# reference data sets
export(Families)
export(LookupTL)
export(Supertree)

#----------------------------------------------------------------------

# unexported functions
#export(getSubtrees)
#export(getMinTL)
#export(weightByAbund)
